@model IEnumerable<SecondHand.Models.Product>

@{
    ViewData["Title"] = "Clothing";
}

<style>
    h1 {
        color: #33546D;
        font-size: 50px;
        margin-left: 70px;
        font-weight: bold;
    }
</style>


<h1>CLOTHING</h1>
<hr />


<!--
<p>
    <a asp-action="Create">Create New</a>
</p>
-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/Shop/ClothingView">Clothing</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/Shop">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Shop/ShoesView">Shoes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Shop/AccessoriesView">Accessories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Shop">Filter</a>
            </li>
        </ul>
    </div>
</nav>

<table>
    <tbody>
        @for (int i = 0; i < Model.Count<Product>(); i += 3)
        {
            <tr>
                <td>
                    <div class="w3-quarter">
                        <a href="/Shop/Details/@Html.DisplayFor(model => Model.ElementAt<Product>(i).ID)">
                            <img src="@("~/image/"+Model.ElementAt<Product>(i).Image)" asp-append-version="true" alt="Slika" width="400" height="500">
                        </a>
                        <h3>@Html.DisplayFor(model => Model.ElementAt<Product>(i).Naziv)</h3>
                        <p>@Html.DisplayFor(model => Model.ElementAt<Product>(i).Description)</p>
                        <b>@Html.DisplayFor(model => Model.ElementAt<Product>(i).Price)</b>
                    </div>
                </td>
                <td>
                    @if (i + 1 != Model.Count<Product>())
                    {
                        <div class="w3-quarter">
                            <a href="/Shop/Details/@Html.DisplayFor(model => Model.ElementAt<Product>(i+1).ID)">
                                <img src="@("~/image/"+Model.ElementAt<Product>(i+1).Image)" asp-append-version="true" alt="Slika" width="400" height="500">
                            </a>

                            <h3>@Html.DisplayFor(model => Model.ElementAt<Product>(i + 1).Naziv) </h3>
                            <p>@Html.DisplayFor(model => Model.ElementAt<Product>(i + 1).Description)</p>
                            <b>@Html.DisplayFor(model => Model.ElementAt<Product>(i + 1).Price)</b>
                        </div>
                    }
                </td>
                <td>
                    @if (i + 2 != Model.Count<Product>() && i + 1 != Model.Count<Product>())
                    {
                        <div class="w3-quarter">
                            <a href="/Shop/Details/@Html.DisplayFor(model => Model.ElementAt<Product>(i+2).ID)">
                                <img src="@("~/image/"+Model.ElementAt<Product>(i+2).Image)" asp-append-version="true" alt="Slika" width="400" height="500">
                            </a>
                            <h3>@Html.DisplayFor(model => Model.ElementAt<Product>(i + 2).Naziv)</h3>
                            <p>@Html.DisplayFor(model => Model.ElementAt<Product>(i + 2).Description)</p>
                            <b>@Html.DisplayFor(model => Model.ElementAt<Product>(i + 2).Price)</b>
                        </div>
                    }
                </td>
            </tr>

        }
    </tbody>
</table>

